__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
Pipfile
Pipfile.lock
poetry.lock
uv.lock
.venv
venv
.env
.env.example
.git
.gitignore
.ide
.vscode
node_modules
npm-debug.log
service_account.json
key.json
tests/
